[Unit]
Description=X32Tally Tally lights module
After=syslog.target network.target mosquitto.service x32tally_module_standdetector.service x32tally_module_osc.service

[Service]
Type=simple

User=root

WorkingDirectory=/opt/x32_tally
ExecStartPre=/bin/sleep 1
ExecStart=python -m x32_tally.tally_lights

Restart=on-failure

[Install]
WantedBy=default.target
