[Unit]
Description=X32Tally stand detector module
After=syslog.target network.target mosquitto.service x32tally-module-osc.service

[Service]
Type=simple

User=root

WorkingDirectory=/opt/x32_tally
ExecStart=/usr/bin/python3 -m x32_tally.stand_buttons

Restart=on-failure

[Install]
WantedBy=default.target
