[Unit]
Description=X32Tally stand detector module
After=syslog.target network.target mosquitto.service x32tally_module_osc.service

[Service]
Type=simple

User=root

WorkingDirectory=/opt/x32_tally
ExecStart=python -m x32_tally.stand_detector

Restart=on-failure

[Install]
WantedBy=default.target
