[Unit]
Description=X32Tally startup script
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=simple
RemainAfterExit=yes
User=root
WorkingDirectory=/opt/x32_tally
ExecStart=python -m x32_tally.scripts.startup
TimeoutStartSec=0

[Install]
WantedBy=default.target
