[Unit]
Description=X32Tally shutdown script
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/x32_tally
ExecStart=/usr/bin/python3 -m x32_tally.scripts.shutdown
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target


